@import 'mixins';

$success: #3C763D;
$success-alt: #669834;
$alert: #E65100;
$danger: #E63125;
$briefcase: #E65000;

html {
  font-family: Roboto, Helvetica, Verdana, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

*::selection {
  // rgba(172,255,168,0.6)
  background: rgba(37,208,117,0.3);
}
*::-moz-selection {
  // rgba(172,255,168,0.6)
  background: rgba(37,208,117,0.3);
}

img, h1, h2, h3, h4, h5, h6 {
  @include user-select(none); 
}

#navbar {

  .md-toolbar-tools {
    min-height: 100%;
  }

  .logo {
    height: 95%;
    align-self: baseline;
    background: url("/img/icons/parks-logo.svg") no-repeat left center;
    background-size: contain;
  }
}



.svg-fill {
  fill: rgba(0,0,0,0.7);
}

.odd-card {
  background-color: rgba(0,0,0,0.01);
}

.color-indigo {
  color: rgb(63,81,181);
}

.pac-container {
  width: auto !important;
  position: initial !important;
  left: 0 !important;
  right: 0 !important;
  display: block !important;
  @include box-shadow( none !important );
  border-top: none !important;

  .pac-item {
    padding: 5px;
    font-size: 14px !important;

    .pac-item-query {
      font-size: 15px;
      .pac-matched {
        // color: #FF565D; // Red
        color: #3F51B5 // Indigo Blue
        // color: #B3A1E9; // Light Purple
      } 
    }

    .pac-icon {

    }

    .pac-icon-marker {
      // Light Purple marker
      // background-position: 16px -181px; 
      // Red marker
      // background-position: 16px -160px;
      // Indigo search icon
      // background-position: 16px -1px;
    }

    .pac-item-query {

    }
  }

}
.pac-container:empty{
  display: none !important;
}

.tour-tip p {
  margin: 1em auto;
}


.angular-google-map {
  flex: 1;
  display: flex;
  // min-height: 600px;
}

.angular-google-map-container {
  flex: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.collapsing .faded-edge-bottom {
  // display: none;
  opacity: 0 !important;
}

.text-info {
  color: rgba(23, 116, 139, 0.9);
}

md-card {

  @include transition( all 0.4s cubic-bezier(0.345, 0, 0.25, 1) );

  &:hover, &.selected {
    @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
    @include transform( translateY(-1px) );
  }

  &.selected {
    border: 2px solid rgba(103,58,183,0.4);
  }

  &:focus {
    outline: none;
  }

  .job-card-header {
    position: relative;

    .md-subhead {
      font-size: 12px;
    }
    
    .md-subhead.new-job {
      color: $success;
    }

    .md-subhead.expiring-job {
      color: $alert;
      font-size: 14px;
    }
  }

  .job-card-title {
    
    .job-title {
      font-size: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 300;
      line-height: 1.4em;
    }

    .job-salary, .job-category, .job-location {
      display: block;
      padding-top: 0 !important;
      font-size: 14px;
      line-height: 18px;
      color: rgba(0,0,0,0.54);
      letter-spacing: 0.010em;

      md-icon {
        height: 18px;
        width: 18px;
      }
    }

    .job-salary {
      md-icon {
        color: rgba(23, 145, 10, 0.7);
      }
    }

    .job-category {
      md-icon {
        color: rgba(182, 79, 15, 0.89);
      }
    }

    .job-location {
      md-icon {
        color: rgba(103, 58, 183, 0.87);
      }
    }
  }

  md-card-footer {
    .footer-title {
      display: block;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4em;
    }

    .md-chips {
      .footer-chip {
        font-size: 13px;
        line-height: 1.2em;
      }

      .limit-width {
        max-width: 47% !important;
        min-width: 30%;
      }

      .chips-wrapper.md-chips {
        @include box-shadow( 0 1px rgb(224,224,224) );
      }

      .background-default {
        background-color: rgba(0,0,0, 0.14);
        color: rgba(0,0,0, 0.7);
      }
    }

  }
  
}


.limit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}




.text-before-dropdown {
  margin: auto;
  padding-top: 3px;
}

.inline-dropdown {
  margin: 0 0 3px 2px;

  .md-select-value {
    border-bottom: transparent;
    align-self: flex-end;
  }
}

.job-card-header {
  padding: 0 4px;
}

.job-card-title {
  padding: 8px 16px 16px;
}

.list-item-with-radio {
  button.md-no-style {
    padding: 0 0;

    md-radio-button {
      margin-bottom: 0;
      padding: 8px 16px;
    }
  }

  button.md-ink-ripple .md-ripple-container {
    display: none;
  }
}

#flash {
  position: absolute;
  z-index: 101;
  right: 5px;
  top: 3px;
  position: fixed;
}

#back-to-top {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 21;

  @include transform( translateY(100px) );
  @include transition( all 0.4s cubic-bezier(0.345, 0, 0.25, 1) );

  opacity: 0;
  
  &.bring-to-screen{
    opacity: 1;
    @include transform(translateY(0));
  }
}


md-icon {
  outline: none;
}

.scroll-button-top, .scroll-button-bottom {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 25px;
  width: 100%;

  @include transition( visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1) );

  &.show-button {
    opacity: 1;
    visibility: visible;
  }

  .md-button-top, .md-button-bottom {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .md-button-top {
    top: 0;
  }

  .md-button-bottom {
    bottom: 0;
  }
}

.scroll-button-top {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  top: 0;
}

.scroll-button-bottom {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  bottom: 0;
}

h2 {
  font: 400 40px/1.5 Roboto, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.small-font {
  font-size: 0.75em;
}

p {
  word-wrap: break-word;
}

.font-p-sm {
  font-size: 0.9em
}

th {
  white-space: nowrap;
}

.fa-pad-right {
  padding-left: 5px;
}

.list-button {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

.text-green {
  color: #3C763D;
}

.img-container {
  position: relative;
  height: 15em;

  .img-vertical-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  } 
}

#searchbox-container {
  position: absolute;
  z-index: 11;
  right: 8em;
  top: 5px;
  @include box-shadow( 0 2px 5px 0 rgba(0, 0, 0, 0.26) );

  .search-icon-container {
    position: absolute;
    min-width: 30px;
    min-height: 30px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    z-index: 12;
    background-color: #fff;
    border: 2px solid #669834;
    border-radius: 0;
  }

  input#search-box {
    position: relative;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 13;
    border: 0;
    cursor: pointer;
    @include transition( all .25s cubic-bezier(0.345, 0, 0.25, 1) );

    &:focus {
      cursor: text;
      width: 250px;
      opacity: 1;
      outline: none;
      border: 2px solid #669834;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

#map-canvas {
  position: relative;
  @include box-shadow( 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) );

  #map-actions {

    .my-location {
      color: rgba(103, 58, 183, 0.9);
    }

    .person-pin {
      color: rgba(0, 0, 0, 0.74);
    }

    // Not all browsers seem to support svg fills
    #my-location {
      fill: rgba(103, 58, 183, 0.9);
    }

    #person-pin {
      fill: rgba(0, 0, 0, 0.74);
    }

  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.no-mb {
  margin-bottom: 0;
}

@keyframes show-me {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes show-me {
  from { opacity: 0; }
  to { opacity: 1; }
}

#job-window {
  opacity: 0;
  max-width: 350px;

  -moz-animation:     show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  -webkit-animation:  show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  -o-animation:       show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  animation:          show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  .title {
    .md-headline {
      font-size: 16px;
    }

    .md-subhead {
      color: rgba(0,0,0,0.65);
      font-size: 13px;

      .after-icon {
        // Does nothing... Hah - Text is still not aligned. Alt: parent display inline-flex
        margin-left: -26px;
        padding-left: 26px;
      }
    }

    .job-location {
      md-icon {
        color: $briefcase;
      }
    }

    .job-salary {
      md-icon {
        color: $success-alt;
      }
    }
  }
}

.full-height {
  height: 100%
}

.color-default {
  color: #2c3e50;
}

.form-control {
  display: block;
  padding: 0px 5px;
  margin: 0 -5px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;

  &:focus {
    border-color: #558b2f;
    outline: 0;
    @include box-shadow( inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(44,62,80,0.6) );
  }
}

.form-control:focus, input:focus {
  @include box-shadow( none );
}

.form-control, input {
  box-sizing: border-box;
  @include box-shadow( none );
}

.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
  p {
    color: #777;
    margin: 0;
  }
}

.layout-margin > ui-view, .layout-padding > ui-view {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 599px) {
  #navbar {
    &.md-medium-tall {
      height: 48px;
      max-height: 48px;
      min-height: 48px;
    }
    
    .logo {
      height: 100%;
      background: url("/img/icons/parks-logo-sm.svg") no-repeat center center;
    }
  }

}

@media screen and (max-width: 959px) {

  .hide-on-mobile {
    display: none;
  }

  #searchbox-container input#search-box {
    &:focus {
      width: 190px;
    }
  }

}
