<div id = "job-window" layout = "column">
  
  <div class = "title" layout = "row">
    
    <div class = "title-text" flex layout = "column">
      <span flex class="md-headline">{{ parameter.title }}</span>
      <span flex class="md-subhead job-location">
        <md-icon md-svg-icon="/img/icons/location.svg" aria-label="Location Icon"></md-icon>
        <span class="after-icon">{{ parameter.location || parameter.formattedAddress }}</span>
      </span>
      <span flex class="md-subhead job-salary">
        <md-icon md-svg-icon="/img/icons/salary.svg" aria-label="Salary Icon"></md-icon>
        <span class="after-icon">{{ parameter.jobType }}: {{ parameter.minSalary | currency }}-{{ parameter.maxSalary | currency }} {{ parameter.interval }}</span>
      </span>
    </div>
      
  </div>

  <div class = "card-actions" layout="row" layout-align="center center" md-theme = "altTheme">
    <md-button class = "md-primary capitalize" ng-href = "{{ parameter.detailsUrl }}/apply" target = "_blank">
      Apply
    </md-button>
  </div>

</div>