<div class = "ng-cloak" id = "park-window" layout = "column">
  
  <div class = "title" layout = "row" layout-align = "space-between center">
    
    <div class = "title-text" flex = "60" layout = "column" layout-wrap layout-align = "start stretch">
      <span flex class="md-headline">{{ parameter.name }}</span>
      <span flex class="md-subhead">{{ parameter.address }}</span>
      <span flex class="md-subhead">{{ parameter.phone }}</span>
    </div>
    
    <div class = "title-media" flex = "40" layout = "column">
      <div class="md-media-md card-media" flex-shrink>
        <img  class = "img-vertical-center park-image" 
              fallback-src = "https://s3.amazonaws.com/davidmeza/Park_Locator/nophoto.png"
              ng-src="https://maps.raleighnc.gov/parklocator/images/photos/{{ parameter.name }}.jpg">
      </div>
    </div>
  
  </div>

  <div class = "card-actions" layout="row" layout-align="center center" md-theme = "altTheme">
    <p class = "md-primary capitalize">
      <b>There are {{ parameter.jobs }} jobs in this location!</b>
    </p>
  </div>

</div>