<!DOCTYPE html>
<html lang="en">
  
<head>

  <title>City of Raleigh Park Locator</title>

  <meta charset="utf-8">
  <meta name="description" content="Find the your nearest park in Raleigh">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="styles/styles.css">
</head>


<body ng-app="parkJobs" ng-cloak layout = "column">
  
  <ng-navbar></ng-navbar>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
              md-component-id="left" 
              md-is-open="sideNavOpen">
    
    <md-toolbar>
      <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    
    <md-content layout-padding>
      <md-button ng-click="close()" class="md-primary">
        Close Sidenav Left
      </md-button>
      <p hide-md show-gt-md>
        Coming soon...
      </p>
    </md-content>
  </md-sidenav>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" 
              md-component-id="filter"
              md-is-open="sideNavOpen">
    
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    
    <md-content layout-padding>

      <md-list>

        <md-list-item>
          <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
          <p>Salary</p>
          <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
        </md-list-item>

      </md-list>

      <md-list>

        <md-list-item>
          <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
          <p>Coming soon...</p>
          <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
        </md-list-item>

      </md-list>


      
      <md-button ng-click="close()" class="md-primary">
        Close
      </md-button>
    </md-content>
  </md-sidenav>

  <ui-view layout = "row" flex></ui-view>



  <back-to-top>
    <md-button  class="md-accent md-raised md-fab md-mini" 
                aria-label="Back to Top"
                scroll-to = "navbar" 
                duration = "400" 
                offset = "0">
    <md-icon md-font-icon="fa-angle-double-up" class = "fa fa-lg"></md-icon>
  </md-button>
  </back-to-top>

  <script>
     !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
     (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
     r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
     }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-xxxxxxxx-x');
     ga('send', 'pageview');
  </script>

  <!-- Angular -->
  <script src="bower_components/angular/angular.js"></script>

  <!-- Angular Dependencies -->
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src='bower_components/lodash/lodash.min.js'></script>
  <script src='bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
  <script src='bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
  <script src='bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js'></script>
  <script src='bower_components/angular-img-fallback/angular.dcb-img-fallback.min.js'></script>

  <!-- Angular App Modules -->
  <script src="scripts/modules/services.js"></script>
  <script src="scripts/modules/controllers.js"></script>
  <script src="scripts/modules/filters.js"></script>
  <script src="scripts/modules/directives.js"></script>

  <!-- Services -->
  <script src="scripts/services/deviceService.js"></script>
  <script src="scripts/services/mapService.js"></script>
  <script src="scripts/services/parkService.js"></script>  
  <script src="scripts/services/httpInterceptor.js"></script>
  
  <!-- Filters -->
  <script src="scripts/filters/parkAmenities.js"></script>
  <script src="scripts/filters/selectedActivities.js"></script>
  

  <!-- Controllers -->
  <script src="scripts/controllers/navbarCtrl.js"></script>
  <script src="scripts/controllers/devicesCtrl.js"></script>
  <script src="scripts/controllers/jobsListSmCtrl.js"></script>
  <script src="scripts/controllers/mapActionsCtrl.js"></script>
  <script src="scripts/controllers/mapCtrl.js"></script>
  <script src="scripts/controllers/dialogCtrl.js"></script>
  <script src="scripts/controllers/parkCtrl.js"></script>

  <!-- Directives -->
  <script src="scripts/directives/navbar.js"></script>
  <script src="scripts/directives/footer.js"></script>
  <script src="scripts/directives/jobsListSm.js"></script>
  <script src="scripts/directives/mapActions.js"></script>
  <script src="scripts/directives/backToTop.js"></script>
  <script src="scripts/directives/navbarFixed.js"></script>
  <script src="scripts/directives/mainMap.js"></script>
  <script src="scripts/directives/scrollingButtons.js"></script>

  <!-- Main -->
  <script src="scripts/app.js"></script>

</body>
</html>

