<tour step="currentStep" post-step="stepComplete()">
  <virtual-step tourtip="Jobs can be sorted by distance, salary, post date and title"
                tourtip-next-label="Next"
                tourtip-placement="left"
                tourtip-element="#jobs-list"
                use-source-scope = "true"
                tourtip-step="0">
  </virtual-step>  
  <virtual-step tourtip="They can also be filtered for more relevant results"
                tourtip-next-label="Next"
                tourtip-placement="left"
                tourtip-element="#jobs-list"
                use-source-scope = "true"
                tourtip-step="1">
  </virtual-step>
  <virtual-step tourtip="You can click on a job marker to find that job on the list"
                tourtip-next-label="Next"
                tourtip-placement="right"
                tourtip-element=".angular-google-map-container"
                tourtip-container-element="#map-canvas"
                use-source-scope = "true"
                tourtip-step="2">
  </virtual-step>    
  <virtual-step tourtip="You can manually modify your location to find jobs near you"
                tourtip-next-label="Next"
                tourtip-placement="left"
                tourtip-element="#map-actions"
                tourtip-container-element="#map-canvas"
                use-source-scope = "true"
                tourtip-step="3">
  </virtual-step>
  <virtual-step tourtip="Start applying for jobs!"
                tourtip-next-label="Thanks for the tips"
                tourtip-placement="left"
                tourtip-element=".apply-button"
                use-source-scope = "true"
                tourtip-step="4">
  </virtual-step>
</tour>