<md-content id = "jobs-list" layout = "column" flex du-scroll-container>

  <back-to-top>
    <md-button  class="md-accent md-raised md-fab md-mini" 
                aria-label="Back to Top"
                ng-click="scrollToTop()">
      <md-icon md-svg-icon="arrow-up"></md-icon>
    </md-button>
  </back-to-top>
              
  <md-subheader class="md-primary jobs-subheader" layout = "row">
    
    
    <span flex layout = "row">
      
      <div flex = "45" layout = "row">
        <md-icon md-svg-icon = "core2:sort"></md-icon>
        <span class = "text-before-dropdown">Sort by</span> 
        
        <md-select  ng-model = "selectedSort" 
                    aria-label = "Select Sort" 
                    class = "inline-dropdown" 
                    md-container-class = "inline-dropdown" flex>
          <md-option ng-value="option.model" ng-repeat="option in sortOptions">{{ option.view }}</md-option>
        </md-select>

      </div>
      <span flex = "10"></span>
      <div flex = "45" layout = "row">
        <span flex></span>
        <md-button  class = "capitalize md-primary md-raised filter-button"
                    ng-click="openFilterSelection($event)">
          <md-icon md-svg-icon = "core2:filter"></md-icon>
          Filter
        </md-button>
        
      </div>

 
    </span>
    
  </md-subheader>

  
  <md-list>

    <md-list-item>
      <p>Showing <b>{{ selectedFilters.totalJobs }} {{ selectedFilters.searchText }}</b> jobs in <b>{{ currentPlace.name }}</b></p>
    </md-list-item>

    <md-list-item ng-repeat = "job in jobs.list | filter: selectedFilters.searchText | applySelectedFilters | orderBy: selectedSort">
      
      <md-card  data-job-id = "{{ ::job.objectId }}" 
                ng-class-odd="'odd-card'" 
                flex >
        
        <md-card-header class = "job-card-header">
          <md-card-header-text layout = "row">
            
            <span class="md-subhead expiring-job" ng-if="::job.expiresSoon">
              <md-icon md-svg-icon="expiring"></md-icon>
              <b>Expires {{ ::job.endDate | date: 'EEEE, MMM d' }}!</b> &nbsp;
            </span>
            
            <span flex></span>
            
            <span class="md-subhead new-job" ng-if="::job.isNew"><b>NEW!</b> &nbsp;</span>
            <span class="md-subhead">Posted {{ ::job.createdDate | date: 'mediumDate' }}</span>
            <span class="md-subhead" ng-if="::!job.expiresSoon">&nbsp;|&nbsp;Expires {{ ::job.endDate | date: 'mediumDate' }}</span>

          </md-card-header-text>
        </md-card-header>

        <md-card-title ng-click="::centerToJob(job)" class = "job-card-title">
          <md-card-title-text>
            
            <span class="md-headline job-title">{{ ::job.title }}</span>
            
            <span class="md-subhead job-salary">
              <md-icon  aria-label="salary icon" 
                        md-svg-icon="core2:salary">
              </md-icon>
              {{ ::job.jobType }}: {{ ::job.minSalary | currency }} - {{ ::job.maxSalary | currency }} {{ ::job.interval }}
            </span>
            
            <span class="md-subhead job-location" ng-show="job.distance">
              <md-icon  aria-label="distance icon" 
                        md-svg-icon="core2:location">
              </md-icon>
              {{ job.distance | number: 2 }} Miles away
            </span>

            <!-- <span class="md-subhead job-category">
              <md-icon  aria-label="department icon" 
                        md-svg-icon="core2:work">
              </md-icon>
              Department: {{ job.department }}
            </span> -->

            <span class="md-subhead job-category">
              <md-icon  aria-label="categories icon" 
                        md-svg-icon="categories">
              </md-icon>
              Categories: {{ ::job.categories.join(', ') }}
            </span>

          </md-card-title-text>
        </md-card-title>
        

        <md-card-content>
          <p ng-init="descriptionLimit = 135"> {{ job.description | limitTo: descriptionLimit }}<a ng-click="descriptionLimit = job.description.length" ng-show="descriptionLimit < job.description.length" class = "color-indigo">... More</a> </p>
        </md-card-content>
        

        <md-card-actions layout="row" layout-align="end center" class = "card-actions">
          <md-button  target = "_blank" 
                      ng-href="{{ ::job.detailsUrl }}"
                      class = "md-accent">
            <md-icon  aria-label="See Job Details" 
                      md-svg-icon="document">
            </md-icon>
            Job Details
          </md-button>
          <md-button  target = "_blank" 
                      ng-href="{{ ::job.detailsUrl }}/apply"
                      class = "md-accent apply-button">
            <md-icon  aria-label="Apply now" 
                      md-svg-icon="briefcase">
            </md-icon>
            Apply
          </md-button>
        </md-card-actions>


        <md-card-footer ng-if="::jobs.otherLocations[job.objectId].length > 0">
          <span class = "footer-title"><b>Also available at:</b></span>
          <div class = "md-chips chips-wrapper md-readonly">
            <div class = "md-chip background-default limit-text limit-width" ng-repeat="jobObj in jobs.otherLocations[job.objectId]">
              <a class="footer-chip" ng-click="::centerToJob(jobObj)">{{ ::jobObj.location }}</a>
            </div>
          </div>
        </md-card-footer>

      </md-card>
    </md-list-item>

  </md-list>

</md-content>

