<md-content flex = "66" layout = "column">
  <main-map></main-map>
</md-content>

<div flex = "33" layout = "column">
  
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Jobs</div>
  </md-toolbar>
  
  <md-content>
    <section>
      <md-subheader class="md-primary">Sorting by distance</md-subheader>
      
      <md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>

<md-list layout-padding>
        <md-list-item class="md-3-line">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>Job Title</h3>
              <h4>Company or Park</h4>
              <p>
                Description
              </p>
            </div>
        </md-list-item>
      </md-list>



    </section>
  </md-content>
</div>

<ui-view></ui-view>




