<!-- <md-content layout = "column" flex>
  <md-tabs  md-border-bottom 
            md-dynamic-height
            md-align-tabs = "top"
            md-stretch-tabs = "always"
            md-center-tabs>
    
    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="img/icons/map.svg"></md-icon>
        Map View
      </md-tab-label>

      <md-tab-body>

      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="img/icons/list-view.svg"></md-icon>
        List View
      </md-tab-label>

      <md-tab-body>
        <h1 class="md-display-2">Map View</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
      </md-tab-body>
    </md-tab>
    
  </md-tabs>
</md-content>
 -->
<div layout = "row" flex>
  <div flex = "100" flex-gt-sm = "60" layout = "column">
    <main-map></main-map>
  </div>

  <div flex-gt-sm = "40" hide-xs hide-sm layout = "column">
    <jobs-list-sm></jobs-list-sm>
  </div>
</div>




