<ui-view></ui-view>

<md-content>
  <md-tabs  md-dynamic-height 
            md-border-bottom 
            md-stretch-tabs 
            md-center-tabs
            md-swipe-content>
    
    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="img/icons/map.svg"></md-icon>
        Map View
      </md-tab-label>

      <md-tab-body>
        
        <h1>Test</h1>

      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <md-icon md-svg-icon="img/icons/list-view.svg"></md-icon>
        List View
      </md-tab-label>

      <md-tab-body>
        <h1 class="md-display-2">Map View</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
      </md-tab-body>
    </md-tab>
    
  </md-tabs>
</md-content>

<md-content flex = "66" layout = "column">
          <main-map></main-map>
        </md-content>

        <div flex = "33" layout = "column">
          
          <md-content>
            
            <md-subheader class="md-primary" layout = "row">
              Sorting by distance <span flex></span>
              <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
            </md-subheader>
            
            <md-list layout-padding>
              <md-list-item class="md-3-line">
                  <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
                  <div class="md-list-item-text">
                    <h3>Job Title</h3>
                    <h4>Company or Park</h4>
                    <p>
                      Description
                    </p>
                  </div>
              </md-list-item>
            </md-list>

          </md-content>
        </div>




