<div class = "ng-cloak" id = "park-window" layout = "column">
  
  <div class = "title" layout = "row">
    
    <div class = "title-text" flex layout = "column">
      <span flex class="md-headline">{{ parameter.title }}</span>
      <span flex class="md-subhead">{{ parameter.location || parameter.formattedAddress }}</span>
      <span flex class="md-subhead">{{ parameter.jobType }}: {{ parameter.minSalary | currency }}-{{ parameter.maxSalary | currency }} {{ parameter.interval }}</span>
    </div>
      
  </div>

  <div class = "card-actions" layout="row" layout-align="center center" md-theme = "altTheme">
    <md-button class = "md-primary capitalize" ng-href = "{{ parameter.detailsUrl }}/apply" target = "_blank">
      Apply
    </md-button>
  </div>

</div>