<md-content layout = "column" flex>
              
  <md-subheader class="md-primary" layout = "row">
    
    
    <span flex layout = "row">
      
      <div flex = "45" layout = "row">
        <md-icon md-svg-icon = "img/icons/sort.svg"></md-icon>
        <span class = "text-before-dropdown">Sort by</span> 
        <md-select  ng-model = "selectedSort" 
                    aria-label = "Select Sort" 
                    class = "inline-dropdown" 
                    md-container-class = "inline-dropdown" flex>
          <md-option ng-value="option" ng-repeat="option in sortOptions">{{ option }}</md-option>
        </md-select>
      </div>
      <span flex = "10"></span>
      <div flex = "45" layout = "row">
        <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
        <span class = "text-before-dropdown">Filter by</span> 
        <md-select  ng-model = "selectedSort" 
                    aria-label = "Select Sort" 
                    class = "inline-dropdown" 
                    md-container-class = "inline-dropdown" flex>
          <md-option ng-value="option" ng-repeat="option in sortOptions">{{ option }}</md-option>
        </md-select>
      </div>

 
    </span>
    
  </md-subheader>
  
  <md-list>

    <md-list-item ng-repeat = "job in jobs">
      
      <md-card ng-class-odd="'odd-card'" flex>
        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline job-title">{{ job.title }}</span>
            <span class="md-subhead job-salary">{{ job.time }} - {{ job.salary }}</span>
            <span class="md-subhead job-category">Category: {{ job.category }}</span>
            <span class="md-subhead job-location">{{ job.location }}</span>
          </md-card-title-text>
          <!-- <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media> -->
        </md-card-title>
        

        <md-card-content>
          <p ng-init="descriptionLimit = 135"> {{ job.description | limitTo: descriptionLimit }}<a ng-click="descriptionLimit = job.description.length" ng-show="descriptionLimit < job.description.length" class = "color-indigo">... More</a> </p>
        </md-card-content>
        

        <md-card-actions layout="row" layout-align="end center">
          <md-button  target = "_blank" 
                      ng-href="https://www.governmentjobs.com/careers/raleighnc/jobs/1314835/camp-counselor-southeast-raleigh-district-4/apply"
                      class = "md-accent">
            <md-icon  aria-label="Apply now" 
                      md-svg-icon="img/icons/external-link.svg">
            </md-icon>
            Apply
          </md-button>
        </md-card-actions>
      </md-card>
    </md-list-item>

  </md-list>

</md-content>

