<md-content layout = "column" flex>
              
  <md-subheader class="md-primary" layout = "row">
    <md-icon md-svg-icon = "img/icons/filter.svg"></md-icon>
    Sorting by distance
  </md-subheader>
  
  <md-list>

    <md-list-item ng-repeat = "job in jobs">
      
      <md-card ng-class-odd="'odd-card'">
        
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ job.title }}</span>
            <span class="md-subhead">{{ job.time }} - {{ job.salary }}</span>
            <span class="md-subhead">Category: {{ job.category }}</span>
            <span class="md-subhead">{{ job.location }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        

        <md-card-content>
          <p ng-init="descriptionLimit = 135"> {{ job.description | limitTo: descriptionLimit }}<a ng-click="descriptionLimit = job.description.length" ng-show="descriptionLimit < job.description.length" class = "color-indigo">... More</a> </p>
        </md-card-content>
        

        <md-card-actions layout="row" layout-align="end center">
          <md-button>Apply Now</md-button>
        </md-card-actions>
      </md-card>
    </md-list-item>


    <md-list-item class="md-3-line" ng-repeat = "job in jobs">
      <div class="md-list-item-text">
        <h3> {{ job.title }} </h3>

        <p>
          <span class = "job-salary"> {{ job.time }} - {{ job.salary }} </span>
          <span class = "job-category"> Category: {{ job.category }} </span> 
          <span class = "job-location"> {{ job.location }} </span> 
          {{ job.description }} 
        </p>

        <md-icon  ng-click="doSecondaryAction($event)" 
                  class="md-secondary" 
                  aria-label="Apply now" 
                  md-svg-icon="img/icons/external-link.svg">
        </md-icon>
      
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>

</md-content>

