<div id="map-canvas" layout = "column" flex>

  <!-- Main Map Directive -->
  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'map.options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='map.pan'
                      events = 'map.events'
                      control = 'map.control'
                      layout = "column" flex>

    <!-- User Marker -->
    <ui-gmap-marker idKey='map.myLocationMarker.id'
                    coords='map.myLocationMarker.coords'
                    options = "map.myLocationMarker.options">
    </ui-gmap-marker>
    
    
    <!-- Job Markers -->
    <ui-gmap-markers  models="jobs.mappable"
                      idkey="'objectId'"
                      coords="'self'"
                      icon="'icon'"
                      click="markerClick"
                      type = "jobMarkersConfig.type"
                      typeOptions = "jobMarkersConfig.typeOptions"
                      typeEvents = "jobMarkersConfig.typeEvents"
                      modelsbyref="jobMarkersConfig.shallowWatch"
                      fit = "jobMarkersConfig.fitToMap"
                      options="'options'"
                      events="jobMarkersConfig.markerEvents"
                      doRebuildAll = "jobMarkersConfig.rebuild"
                      control = "jobMarkersConfig.control">
    </ui-gmap-markers>

    
    <!-- Job Info Window -->
    <ui-gmap-window show="jobWindow.show" 
                    coords="jobWindow.coords"
                    control = "jobWindow.control" 
                    options="jobWindow.options" 
                    closeclick="jobWindow.closeclick"
                    templateurl = "jobWindow.templateUrl"
                    templateparameter = "jobWindow.templateParameter"
                    ng-cloak>
    </ui-gmap-window>

  </ui-gmap-google-map>

  <map-actions></map-actions>
    
</div>