<div id="sidenavs">
  
  <!-- Menu button -> Left Sidenav -> Opened from navbarCtrl -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" 
              md-component-id="left" 
              md-is-open="leftSidenavOpen">
    
    <md-toolbar>
      <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>
    
    <md-content layout-padding>
      <md-button ng-click="leftClose()" class="md-primary">
        Close Sidenav Left
      </md-button>
      <p hide-md show-gt-md>
        Coming soon...
      </p>
    </md-content>
  </md-sidenav>


  <!-- Filter button -> Right Sidenav -> Opened from JobListSmCtrl -->
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" 
              md-component-id="filter"
              md-is-open="filterSidenavOpen">
    
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    
    <md-content layout-padding>

      <md-list>
      
        <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="setting in settings">
          <md-icon md-svg-icon="{{setting.icon}}"></md-icon>
          <p> {{ setting.name }} </p>
          <md-switch class="md-secondary" ng-model="setting.enabled"></md-switch>
        </md-list-item>
        <md-list-item ng-click="navigateTo('data usage', $event)">
          <md-icon md-svg-icon="cached"></md-icon>
          <p>Location</p>
        </md-list-item>

      </md-list>


      <md-button ng-click="filterClose()" class="md-primary">
        Close
      </md-button>

    </md-content>
  </md-sidenav>


</div>