/* line 7, ../../app/styles/park-jobs.scss */
html {
  font-family: Roboto, Helvetica, Verdana, sans-serif;
}

/* line 11, ../../app/styles/park-jobs.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 17, ../../app/styles/park-jobs.scss */
*::-moz-selection {
  background: rgba(37, 208, 117, 0.3);
}
*::selection {
  background: rgba(37, 208, 117, 0.3);
}

/* line 21, ../../app/styles/park-jobs.scss */
*::-moz-selection {
  background: rgba(37, 208, 117, 0.3);
}

/* line 26, ../../app/styles/park-jobs.scss */
img, h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 30, ../../app/styles/park-jobs.scss */
.logo {
  height: 85px;
  align-self: baseline;
  background: url("/img/icons/parks-logo.svg") no-repeat left center;
  background-size: contain;
}

/* line 38, ../../app/styles/park-jobs.scss */
.svg-fill {
  fill: rgba(0, 0, 0, 0.7);
}

/* line 42, ../../app/styles/park-jobs.scss */
.odd-card {
  background-color: rgba(0, 0, 0, 0.01);
}

/* line 46, ../../app/styles/park-jobs.scss */
.color-indigo {
  color: #3f51b5;
}

/* line 50, ../../app/styles/park-jobs.scss */
.pac-container {
  width: auto !important;
  position: initial !important;
  left: 0 !important;
  right: 0 !important;
  display: block !important;
  box-shadow: none !important;
  border-top: none !important;
}
/* line 59, ../../app/styles/park-jobs.scss */
.pac-container .pac-item {
  padding: 5px;
  font-size: 14px !important;
}
/* line 63, ../../app/styles/park-jobs.scss */
.pac-container .pac-item .pac-item-query {
  font-size: 15px;
}
/* line 65, ../../app/styles/park-jobs.scss */
.pac-container .pac-item .pac-item-query .pac-matched {
  color: #3F51B5;
}

/* line 91, ../../app/styles/park-jobs.scss */
.pac-container:empty {
  display: none !important;
}

/* line 95, ../../app/styles/park-jobs.scss */
.tour-tip p {
  margin: 1em auto;
}

/* line 100, ../../app/styles/park-jobs.scss */
.angular-google-map {
  flex: 1;
  display: flex;
}

/* line 106, ../../app/styles/park-jobs.scss */
.angular-google-map-container {
  flex: 1;
}

/* line 110, ../../app/styles/park-jobs.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 113, ../../app/styles/park-jobs.scss */
.collapsing .faded-edge-bottom {
  opacity: 0 !important;
}

/* line 118, ../../app/styles/park-jobs.scss */
.text-info {
  color: rgba(23, 116, 139, 0.9);
}

/* line 122, ../../app/styles/park-jobs.scss */
.job-card-header {
  position: relative;
}
/* line 124, ../../app/styles/park-jobs.scss */
.job-card-header .new-job {
  color: #3C763D;
}
/* line 128, ../../app/styles/park-jobs.scss */
.job-card-header .expiring-job {
  color: #E65100;
  font-size: 15px;
}

/* line 139, ../../app/styles/park-jobs.scss */
.job-card-title .job-title {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  line-height: 1.4em;
}
/* line 148, ../../app/styles/park-jobs.scss */
.job-card-title .job-salary, .job-card-title .job-category, .job-card-title .job-location {
  display: block;
  padding-top: 0 !important;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.010em;
}
/* line 156, ../../app/styles/park-jobs.scss */
.job-card-title .job-salary md-icon, .job-card-title .job-category md-icon, .job-card-title .job-location md-icon {
  height: 18px;
  width: 18px;
}
/* line 163, ../../app/styles/park-jobs.scss */
.job-card-title .job-salary md-icon {
  color: rgba(23, 145, 10, 0.7);
}
/* line 169, ../../app/styles/park-jobs.scss */
.job-card-title .job-category md-icon {
  color: rgba(182, 79, 15, 0.89);
}
/* line 175, ../../app/styles/park-jobs.scss */
.job-card-title .job-location md-icon {
  color: rgba(103, 58, 183, 0.87);
}

/* line 182, ../../app/styles/park-jobs.scss */
.footer-title {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4em;
}

/* line 189, ../../app/styles/park-jobs.scss */
.footer-item {
  display: block;
  font-size: 12px;
  line-height: 1.2em;
}

/* line 195, ../../app/styles/park-jobs.scss */
.chips-wrapper.md-chips {
  box-shadow: 0 1px #e0e0e0;
}

/* line 199, ../../app/styles/park-jobs.scss */
.background-default {
  background-color: rgba(0, 0, 0, 0.14);
  color: rgba(0, 0, 0, 0.7);
}

/* line 204, ../../app/styles/park-jobs.scss */
.text-before-dropdown {
  margin: auto;
  padding-top: 3px;
}

/* line 209, ../../app/styles/park-jobs.scss */
.inline-dropdown {
  margin: 0 0 3px 2px;
}
/* line 212, ../../app/styles/park-jobs.scss */
.inline-dropdown .md-select-value {
  border-bottom: transparent;
  align-self: flex-end;
}

/* line 218, ../../app/styles/park-jobs.scss */
.job-card-header {
  padding: 0 4px;
}

/* line 222, ../../app/styles/park-jobs.scss */
.job-card-title {
  padding: 8px 16px 16px;
}

/* line 227, ../../app/styles/park-jobs.scss */
.list-item-with-radio button.md-no-style {
  padding: 0 0;
}
/* line 230, ../../app/styles/park-jobs.scss */
.list-item-with-radio button.md-no-style md-radio-button {
  margin-bottom: 0;
  padding: 8px 16px;
}
/* line 236, ../../app/styles/park-jobs.scss */
.list-item-with-radio button.md-ink-ripple .md-ripple-container {
  display: none;
}

/* line 243, ../../app/styles/park-jobs.scss */
#marker-off {
  fill: #71b045;
}

/* line 247, ../../app/styles/park-jobs.scss */
#my-location {
  fill: rgba(103, 58, 183, 0.9);
}

/* line 251, ../../app/styles/park-jobs.scss */
#person-pin {
  fill: rgba(0, 0, 0, 0.74);
}

/* line 257, ../../app/styles/park-jobs.scss */
#flash {
  position: absolute;
  z-index: 101;
  right: 5px;
  top: 3px;
  position: fixed;
}

/* line 265, ../../app/styles/park-jobs.scss */
#back-to-top {
  position: fixed;
  right: 15px;
  bottom: 10px;
  z-index: 21;
  transform: translateY(100px);
  transition: all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  opacity: 0;
}
/* line 276, ../../app/styles/park-jobs.scss */
#back-to-top.bring-to-screen {
  opacity: 1;
  transform: translateY(0);
}

/* line 283, ../../app/styles/park-jobs.scss */
md-icon {
  outline: none;
}

/* line 287, ../../app/styles/park-jobs.scss */
.scroll-button-top, .scroll-button-bottom {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 25px;
  width: 100%;
  transition: visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 296, ../../app/styles/park-jobs.scss */
.scroll-button-top.show-button, .scroll-button-bottom.show-button {
  opacity: 1;
  visibility: visible;
}
/* line 301, ../../app/styles/park-jobs.scss */
.scroll-button-top .md-button-top, .scroll-button-top .md-button-bottom, .scroll-button-bottom .md-button-top, .scroll-button-bottom .md-button-bottom {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 308, ../../app/styles/park-jobs.scss */
.scroll-button-top .md-button-top, .scroll-button-bottom .md-button-top {
  top: 0;
}
/* line 312, ../../app/styles/park-jobs.scss */
.scroll-button-top .md-button-bottom, .scroll-button-bottom .md-button-bottom {
  bottom: 0;
}

/* line 317, ../../app/styles/park-jobs.scss */
.scroll-button-top {
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
}

/* line 324, ../../app/styles/park-jobs.scss */
.scroll-button-bottom {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  bottom: 0;
}

/* line 331, ../../app/styles/park-jobs.scss */
h2 {
  font: 400 40px/1.5 Roboto, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 337, ../../app/styles/park-jobs.scss */
.small-font {
  font-size: 0.75em;
}

/* line 341, ../../app/styles/park-jobs.scss */
p {
  word-wrap: break-word;
}

/* line 345, ../../app/styles/park-jobs.scss */
.font-p-sm {
  font-size: 0.9em;
}

/* line 349, ../../app/styles/park-jobs.scss */
th {
  white-space: nowrap;
}

/* line 353, ../../app/styles/park-jobs.scss */
.fa-pad-right {
  padding-left: 5px;
}

/* line 357, ../../app/styles/park-jobs.scss */
.list-button {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

/* line 363, ../../app/styles/park-jobs.scss */
.text-green {
  color: #3C763D;
}

/* line 367, ../../app/styles/park-jobs.scss */
.img-container {
  position: relative;
  height: 15em;
}
/* line 371, ../../app/styles/park-jobs.scss */
.img-container .img-vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 381, ../../app/styles/park-jobs.scss */
#searchbox-container {
  position: absolute;
  z-index: 11;
  right: 8em;
  top: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 388, ../../app/styles/park-jobs.scss */
#searchbox-container .search-icon-container {
  position: absolute;
  min-width: 30px;
  min-height: 30px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  z-index: 12;
  background-color: #fff;
  border: 2px solid #669834;
  border-radius: 0;
}
/* line 402, ../../app/styles/park-jobs.scss */
#searchbox-container input#search-box {
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 13;
  border: 0;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 412, ../../app/styles/park-jobs.scss */
#searchbox-container input#search-box:focus {
  cursor: text;
  width: 250px;
  opacity: 1;
  outline: none;
  border: 2px solid #669834;
}

/* line 422, ../../app/styles/park-jobs.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 426, ../../app/styles/park-jobs.scss */
#map-canvas {
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 431, ../../app/styles/park-jobs.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 435, ../../app/styles/park-jobs.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 439, ../../app/styles/park-jobs.scss */
.no-mb {
  margin-bottom: 0;
}

/* line 443, ../../app/styles/park-jobs.scss */
.green {
  color: #669834;
}

/* line 447, ../../app/styles/park-jobs.scss */
.red {
  color: #E63125;
}

/* line 451, ../../app/styles/park-jobs.scss */
#activity-window, #park-window {
  opacity: 0;
  animation: show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes show-me {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 474, ../../app/styles/park-jobs.scss */
#park-window .title .md-headline {
  font-size: 16px;
}
/* line 478, ../../app/styles/park-jobs.scss */
#park-window .title .md-subhead {
  color: rgba(0, 0, 0, 0.65);
  font-size: 13px;
}
/* line 484, ../../app/styles/park-jobs.scss */
#park-window .title .title-media .park-image {
  max-height: 100px;
  max-width: 133px;
}

/* line 492, ../../app/styles/park-jobs.scss */
.full-height {
  height: 100%;
}

/* line 496, ../../app/styles/park-jobs.scss */
.color-default {
  color: #2c3e50;
}

/* line 500, ../../app/styles/park-jobs.scss */
.form-control {
  display: block;
  padding: 0px 5px;
  margin: 0 -5px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
}
/* line 508, ../../app/styles/park-jobs.scss */
.form-control:focus {
  border-color: #558b2f;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(44, 62, 80, 0.6);
}

/* line 515, ../../app/styles/park-jobs.scss */
.form-control:focus, input:focus {
  box-shadow: none;
}

/* line 519, ../../app/styles/park-jobs.scss */
.form-control, input {
  box-sizing: border-box;
  box-shadow: none;
}

/* line 524, ../../app/styles/park-jobs.scss */
.footer {
  padding-top: 19px;
  border-top: 1px solid #e5e5e5;
}
/* line 527, ../../app/styles/park-jobs.scss */
.footer p {
  color: #777;
  margin: 0;
}

/* line 533, ../../app/styles/park-jobs.scss */
.layout-margin > ui-view, .layout-padding > ui-view {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 599px) {
  /* line 539, ../../app/styles/park-jobs.scss */
  #navbar.md-medium-tall {
    height: auto;
    max-height: initial;
    min-height: auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 550, ../../app/styles/park-jobs.scss */
  #mobile-nav {
    display: block;
  }

  /* line 554, ../../app/styles/park-jobs.scss */
  .hide-on-mobile {
    display: none;
  }

  /* line 558, ../../app/styles/park-jobs.scss */
  .navbar {
    min-height: 0px;
  }

  /* line 562, ../../app/styles/park-jobs.scss */
  .layout-margin, .layout-margin-gt-sm, .layout-margin-md, .layout-margin > *, .layout-margin-gt-sm > *, .layout-margin-md > *, .layout-margin > .flex, .layout-margin > .flex-gt-sm, .layout-margin > .flex-md {
    margin: 0;
  }

  /* line 567, ../../app/styles/park-jobs.scss */
  #searchbox-container input#search-box:focus {
    width: 190px;
  }

  /* line 572, ../../app/styles/park-jobs.scss */
  .footer {
    padding-top: 0;
  }
  /* line 575, ../../app/styles/park-jobs.scss */
  .footer p {
    font-size: 0.8em;
    padding: 3px;
  }
}